<%- include('../components/base',{page_name: 'user_add'}) %>
<div style="width: 100%;overflow-x: auto;padding: 2px">
    <form class="mx-0 row gx-3 gy-4 mt-3" method="post" action="/user">
        <div class="col-md-12">
            <label for="inputUser_id" class="form-label">User id:</label>
            <input placeholder="User id" type="text" name="User_id" value="<%= user._id %>" class="form-control"
                id="inputUser_id" disabled />
        </div>
        <div class="col-md-6">
            <label for="inputfirstName4" class="form-label">First Name:</label>
            <input placeholder="First Name..." type="text" name="firstName" value="<%= user.firstName %>"
                class="form-control" id="inputfirstName4" disabled />
        </div>
        <div class="col-md-6">
            <label for="inputlastName4" class="form-label">Last Name:</label>
            <input placeholder="Last Name..." type="text" name="lastName" value="<%= user.lastName %>"
                class="form-control" id="inputlastName4" disabled />
        </div>

        <div class="col-md-6">
            <label for="inputemail4" class="form-label">Email:</label>
            <input placeholder="email@gmail.com" type="email" name="email" value="<%= user.email %>"
                class="form-control" id="inputemail4" disabled />
        </div>
        <div class="col-md-6">
            <label for="inputage7" class="form-label">Username:</label>
            <input disabled placeholder="Your Username:..." value="<%= user.Username %>" type="text" name="Username"
                class="form-control" id="inputage7" />
        </div>
        <div class="col-md-6">
            <label for="inputtele4" class="form-label">phone:</label>
            <input placeholder="phone..." type="text" name="phone" value="<%= user.phone %>" class="form-control"
                id="inputtele4" disabled />
        </div>
        <div class="col-md-6">
            <label for="inputage5" class="form-label">Password:</label>
            <input placeholder="Your Password:..." type="text" name="Password" class="form-control" id="inputage5"
                value="<%= user.Password %>" disabled />
        </div>
        <div class="col-md-6">
            <label for="inputage4" class="form-label">Age:</label>
            <input placeholder="Your Age:..." type="number" name="Age" value="<%= user.Age %>" class="form-control"
                id="inputage4" disabled />
        </div>

        <div class="col-md-6">
            <label for="inputCountry" class="form-label">Country:</label>
            <select id="inputCountry" name="Country" class="form-select" disabled>
                <option selected hidden disabled value="null">Choose here ...</option>

                <option <%= user.Country === 'Morocco' ? 'selected' : '' %>>Morocco</option>
                <option <%= user.Country === 'Egypt' ? 'selected' : '' %>>Egypt</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="inputGender" class="form-label">Gender:</label>
            <select id="inputGender" name="Gender" class="form-select" disabled>
                <option selected hidden disabled>Choose here ...</option>
                <option <%= user.Gender === 'Male' ? 'selected' : '' %>>Male</option>
                <option <%= user.Gender === 'Female' ? 'selected' : '' %>>Female</option>

            </select>
        </div>

        <div class="col-md-6">
            <label for="inputStatus" class="form-label">Status:</label>
            <select id="inputStatus" name="Status" class="form-select" disabled>
                <option selected hidden>Choose here ...</option>
                <option <%= user.Status === 'Active' ? 'selected' : '' %> value="Active">Active</option>
                <option <%= user.Status === 'inactive' ? 'selected' : '' %> value="inactive">inactive</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="createdAt" class="form-label">created At:</label>
            <input placeholder="Created At:.." type="text" name="createdAt"
                value="<%= moment( user.createdAt).fromNow() %>" class="form-control" id="createdAt" disabled />
        </div>
        <div class="col-md-6">
            <label for="updatedAt" class="form-label">updated At:</label>
            <input placeholder="Updated At:..." type="text" name="updatedAt"
                value="<%= moment(user.updatedAt).fromNow() %>" class="form-control" id="updatedAt" disabled />
        </div>
    </form>
    </table>
    <br>
</div>
<!-- Include footer -->
<%- include('../components/footer') %>